(
  ;; This is where foosman2 will store all foosball events
  ;; like registered matches. This event store is then loaded
  ;; each time the server starts.
  :event-log-pathname "c:/temp/foosball2.events"

  ;; Foosman2 will log to this location. Monitor it for any issues.
  :debug-log-pathname "c:/temp/foosball2.log"

  :root "c:/dev/foosman2/"
)